.iconn{color:black}
.iconn:hover{color:black}
.small{font-size:14px;
color:grey;}
.slash{margin-top:6px;
margin-left:8px
}
.slash:hover{cursor:pointer}
.flex{color:grey;
}
input{width:35px;
    height:40px;
    border:1px solid rgb(219, 216, 216);
    background:whitesmoke;
    font-size:20px;}
    .Re{color:grey}
 .B{height:50px;
color:white;
background-color:var(--background);
opacity: 60%;}
.add{background-color:var(--background);
    height:50px;
color:white
}
.B a{color:white;
text-decoration: none;}
.Done{color:white;
text-decoration: none;}
:root{ 
    --background:#00B875;
    --Second:rgb(222, 238, 222);
}